body {
    margin: 0;
}

.blueSqare{
    background : linear-gradient(45deg, #6DC4A9, #6D79C4);
    height:847px;
}

.blueCircle{        /*Analyze Circle*/
    /*img's size*/
    width: 920px;
    height: 920px;
    z-index: 1;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite
}

@keyframes spin
{
    0%{transform : rotate(0);}
    100%{transform: rotate(360deg);}
}

.container {
    position: relative;
    height: 920px;
}

.loading-circle {
    position: absolute;
    display: inline-block;
    background: transparent;
    width: 920px;
    height: 920px;
    border-radius: 920px;
    background: -webkit-linear-gradient(left top, #6DBDC4 0%, #6D9BC4 100%);
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite
}

.icon-background
{
    position: absolute;
    top: 460px;
    left: 460px;
    margin-left: -350px;
    margin-top: -350px;
    width: 700px;
    height: 700px;
    background: #fff;
    border-radius: 700px;
}

.icon {
    background-image: url('../icon/analysis.png');
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: absolute;
    top: 460px;
    left: 460px;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    padding: 150px;
    border-radius: 600px;
}

.text
{
    box-sizing: border-box;
    font-family: "NanumSquareRound";
    font-size: 88px;
    border-style: solid;
    border-image: linear-gradient(to right, #6DBDC4,#6D9BC4);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 125px solid transparent;
    border-image-slice: 1;
}
